*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Sem01/EurekaService/nbproject/private/
/Sem01/EurekaService/build/
/Sem02/EurekaApp/nbproject/private/
/Sem02/EurekaApp/build/
/Sem05/AppSuma/nbproject/private/
/Sem05/AppSuma/build/
/Sem05/AppSuma/dist/
/Sem05/AppSuma - copia/build/
/Sem05/AppSuma - copia/dist/
/Sem05/AppSuma - copia/nbproject/private/
/Sem05/AppSuma2/build/
/Sem05/AppSuma2/dist/
/Sem05/AppSuma2/nbproject/private/
/Sem05/errorClasico/nbproject/private/
/Sem05/errorClasico/build/
/Sem05/errorClasico/dist/
/Sem05/AppSumaConError/nbproject/private/
/Sem05/AppSumaConError/build/
/Sem05/AppSumaComoDebeSer/build/
/Sem05/AppSumaComoDebeSer/dist/
/Sem05/AppSumaComoDebeSer/nbproject/private/
/Sem06/EurekaWeb/nbproject/private/
/Sem06/EurekaWeb/build/
/Sem06/EurekaService/dist/
/Sem06/EurekaWeb/dist/
/Sem07/Eyzaguirre/BookstoreService/nbproject/private/
/Sem07/Eyzaguirre/BookstoreWeb/nbproject/private/
/Sem07/Eyzaguirre/BookstoreService/build/
/Sem07/Eyzaguirre/BookstoreWeb/build/
/Sem07/Eyzaguirre/BookstoreService/dist/
/Recupera/DemoSession/nbproject/private/
/Recupera/DemoSession/build/
/Recupera/DemoSession/dist/